*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.hijo{
    border: solid red;
    width: auto;
    height: 33.3vh;
}

h1{
    background-color: aqua;
}

#uno{
    background-color: aqua;
    display: flex;
    justify-content: center;
}